*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: rgb(49, 97, 224);
    height: 100px;
    padding-top: 20px;
}
nav{
    height: 60px;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: white;
}
.start{
    width: 20%;
    text-align: center;
}
.center{
    width: 60%;
    text-align: center;
}
.menu{
    border: none;
    background-color: rgb(49, 97, 224);
    color: white;
    font-size: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.login{
    border: none;
    background-color: white;
    font-size: 1.25rem;
    padding: 0.50rem 1rem 0.50rem 1rem;
    border-radius: 1.50rem;
}
.end{
    width: 20%;
    text-align: center;
}
.head{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    width: 100%;
    height: 900px;
}
.intro{
    width: 1170px;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}
h1{
    padding-top: 100px;
    font-size: 5rem;
}
h4{
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 400;
}
.Mac{
    border: none;
    font-size: 2rem;
    margin-right: 1rem;
    background-color: white;
    padding: 1rem 1.50rem 1rem 1.50rem;
    border-radius: 2.50rem;
}
.arrow{
    padding-right: 5px;
}
.Browser{
    height: 75px;
    border: none;
    font-size: 2rem;
    margin-left: 1rem;
    color: white;
    background-color: rgb(35, 39, 42);
    padding: 1rem 1.50rem 1rem 1.50rem;
    border-radius: 2.50rem;
}
main{
    margin: auto;
}

.container{
    width: 1170px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.row{
    width: 1170px;
    display: flex;
    width: 100%;
    padding-top: 30px;
}



.section_frog{
    padding-top: 100px;
    padding-bottom: 100px;
}
.col_luogo{
    padding-left: 6rem;
    font-size: 2.25rem;
    width: 40%;
}
.server{
    font-size: 1.50rem;
    padding-top: 1rem;
}

.wave{
    width: 100%;
    filter: opacity(0.04);
    display: block;
}



.section_mage{
    background-color: rgb(246, 246, 246);
    padding-top: 100px;
    padding-bottom: 100px;
}
.col_dove{
    padding-right: 6rem;
    font-size: 2.25rem
}
.comodità{
    font-size: 1.50rem;
    padding-top: 1rem;
}

.onda{
    width: 100%;
    filter: opacity(0.04);
    transform: rotate(180deg);
}



.section_cyclops{
    padding-top: 100px;
    padding-bottom: 100px;
}
.col_pochi{
    padding-left: 6rem;
    font-size: 2.25rem;
}
.community{
    font-size: 1.50rem;
    padding-top: 1rem;
}



.section_contact{
    background-color: rgb(246, 246, 246);
    text-align: center;
}
.technology{
    font-size: 3rem;
    width: 100%;
}
.latenza{
    font-size: 1.50rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.versatilità{
    width: 1170px;
    height: 800px;
}
.stars{
    background-image: url(../img/stars.svg);
    background-size: contain;
    width: 1000px;
    height: 40px;
    margin: auto;
}
h3{
    font-size: 2rem;
    width: 600px; 
    margin: auto;
}
.appleOS{
    margin-top: 5rem;
    border: none;
    font-size: 1.75rem;
    margin-right: 1rem;
    color: white;
    background-color: rgb(142, 161, 225);
    padding: 1rem 1.50rem 1rem 1.50rem;
    border-radius: 2.50rem;
}



footer{
    background-color: rgb(35, 39, 42);
    width: 100%;
    padding-top: 100px;
    margin: auto;
}
.footer_top{
    display: flex;
    max-width: 1170px;
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(142, 161, 225);
}
.col_posto{
    width: 30%;
}
.talk{
    color: rgb(142, 161, 225);
    padding-bottom: 30px;
    max-width: 351px;
    font-size: 2.50rem;
}
.language{
    color: white;
    font-size: 1rem;
}
.flag{
    width: 25px;
}
.col_info{
    width: 17.5%;
    padding-left: 1rem;
}
h5{
    font-size: 1.25rem;
    color: rgb(142, 161, 225);
}
ul{
    color: white;
    list-style: none;
    padding-top: 10px;
}
li{
    padding-top: 5px;
    padding-bottom: 5px;
}
.footer_bottom{
    display: flex;
    max-width: 1170px;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 100px;
}
.registrati{
    border: none;
    font-size: 1rem;
    margin-right: 1rem;
    color: white;
    background-color: rgb(142, 161, 225);
    padding: 0.75rem 0.75rem 0.75rem 0.75rem;
    border-radius: 2.50rem;
}